body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> fb5b9551f50f26dd278c1ec027b4cfebe2206411
