@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Hide horizontal scrollbar globally */
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cart-scale {
    transform: scale(0.9);
    transform-origin: top center;
    width: 111%; /* compensate for 90% scale */
}

@media (min-width: 1024px) {
    .cart-scale {
        transform: scale(0.9);
        transform-origin: top center;
        width: 111%; /* keep consistent scaling */
    }
}
